body {
    text-align: center;
}

.calc-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calc-border {
    border-style: outset;
    border-radius: 1%;
    border-color: black;
    width: 500px;
}

.result-screen {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 100px;
    text-align: end;
    font-size: 4rem;
}
.operation-screen{
    display: flex;
    justify-content: end;
    align-items: center;
    height: 25px;
    text-align: end;
    font-size: 1rem;
    color:#696969;
}

.calc-btn {
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    width: 500px;    
}

.calc-btn>button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 125px;
    font-size: 4rem;
    border-radius: 1%;
}

img {
    width: 80px;
}

.operator,.evaluate,.btn-5,.btn-3,.btn-4,.btn-1,.btn-2{
    background-color: #696969;
}

.number{
    color: aliceblue;
    background-color: grey;
}